.App {
  text-align: center;
}

.App-header {
  
  background-color: #BBB6A5;
  height: 70px;
  padding: 20px;
  color: #2A2F33;
  margin-bottom: 20px;
}

.App-title {
  text-align: left;
  font-size: 2em;
}

.StepTitle{
  text-align: left;

}
