.App {
  text-align: center;
}

.App-header {
  
  background-color: #BBB6A5;
  height: 70px;
  padding: 20px;
  color: #2A2F33;
  margin-bottom: 20px;
}

.App-title {
  text-align: left;
  font-size: 2em;
}

.StepTitle{
  text-align: left;

}
/* in pizza item component */
.image{
  height:100px;
}

/* in pizza item component */
.imageBlock{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  width: 25%;
  order: 0;
}

/* in Pizza List component */
#pizaList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: center;
  align-content: center;

  gap: 20px
}